body {
	background-image: url(../images/fancy.jpg);
	height: 100%
}

#input {
	color: black;
	font-size: 30px;
	width: 100%;
	height: 110px;
	padding-bottom: 100px;
}

#title {
	font-family: 'Lobster', cursive;
	color: black;
	font-size: 90px;
	
	padding-top: 5px;
	padding-bottom: 20px;
}

#enter input {
	width: 60%;
	height: 20px;
	margin-top: 3px;
}

.listItems {
	background:#acadaf;
	width: 80%;
	height:130px;
	margin-top: 10px;
	text-align: center;
}

